<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><%= link_to new_home_path do %>
						<%= fa_icon "home" %>
							Home banner
							<% end %>
						</li>

						<li><%= link_to new_video_path do %>
									<%= fa_icon "youtube" %>
										New Video
										<% end %></li>

						<li><%= link_to new_about_path do %>
									<%= fa_icon "users" %>
										New Team Member
										<% end %></li>

										<li><%= link_to new_event_path do %>
													<%= fa_icon "newspaper-o" %>
														New Event
														<% end %></li>

										<li><%= link_to new_project_path do %>
													<%= fa_icon "newspaper-o" %>
														New Project
														<% end %></li>

														<li><%= link_to destroy_blogger_session_path, method: :delete do %>
																	<%= fa_icon "sign-out" %>
																		Logout
																		<% end %></li>

		</ul>
	</div><!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
