
<div class="banner">
  <div class="container">
    <% @banners.each do |banner| %>
    <div class="col-md-3">
      <%= image_tag banner.thumbnail.url(:medium), class: "img-responsive img-circle" %>
      <p class="edit"><%= link_to 'Edit', edit_banner_path(banner),  %></p>
    </div>
    <div class="col-md-9">
      <h4 class="qoute">
        <%=raw(banner.qoute) %>
      </h4>
      <p> <%= banner.qouter %> </p>
    </div>


        <p class="text-center"><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></]>

    <% end %>



			</div>
		</div>
