<%= simple_form_for(@video, html: { class: 'form-horizontal' }) do |f| %>
<div class="form-group">
<%= f.input :link, class: "form-control", required: true %>

</div>
<div class="form-group">
  <%= f.input :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.input :description, class: "form-control", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
</div>
<div class="form-group">
  <%= f.input :story, class: 'form-control', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }, label: "Video Story" %>
</div>

<div class="form-group">
  <%= f.submit :submit, class: "btn btn1" %>
</div>
<% end %>
