<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @homes.each do |home| %>
      <div class="col-md-4">
        <%= image_tag @about.thumbnail.url(:medium), class: "img-responsive img-circle" %>
      </div>

      <div class="col-md-8">
        <h4 class="qoute">
          <%=raw(home.picture_name) %>
        </h4>
      </div>
      <% end %>

    </div>
  </div>
</div>


<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>
    <div id="player-wrapper"></div>

      <div class="row">

        <% @videos.each do |video| %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">
                <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                                      class: 'img-rounded'),
                            "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>
                <div class="caption">
                  <h5><%= video.title %></h5>

                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>

      </div>

  </div>
<% end %>
