<div class="banner-2">
  <div class="container">
    <div class="col-md-12">
      <%= simple_form_for search_videos_path, method: :get, class: "form-horizontal", role: "search" do |f| %>
      <div class="form-group col-md-9">
        <%=f.input :search, class: "form-control ", placeholder: "Search" %>
      </div>
      <div class="form-group col-md-3">
        <%=f.submit :search, name:nil, class: "form-control" do %><%=fa_icon 'search 2x'%><% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="technology">
  <div class="container">
    <div class=" col-md-9 technology-left" >
      <div class="w3ls">
        <% @videos.each do |video| %>
        <div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
          <div class="tc-ch">
            <div class="tch-img-video">
              <%= link_to video, target: '_blank' do %>
              <%= image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
              class: ' img-responsive ') %>
              <span><%= fa_icon "youtube-play 3x", class: "text-center play" %></span>
              <%end%>
            </div>
            <span>    <h4><%= video.title %></h4></span>


            <div class="bht1">
              <%= link_to "Veiw More ", video %>
              <%= link_to 'Remove', video_path(video), method: :delete, remote: true,  data: { confirm: 'Are you sure?' }  %>

            </div>
            <div class="soci">
              <ul>
                <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <% end %>
        <div class="clearfix"></div>

      </div>
    </div>
    <%= render "shared/sidebar" %>

  </div>
</div>
