<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo">

        <h2 class="w3"><%= @video.title %></h2>
        <div class="single">

          <div class="col-md-12">
            <div id="player-wrapper"></div>
            <div class="yt_video thumbnail">
              <%= link_to "https://img.youtube.com/vi/#{@video.uid}", target: '_blank' do %>
              <%= image_tag("https://img.youtube.com/vi/#{@video.uid}/mqdefault.jpg", alt: @video.title,
              class: ' img-responsive ') %>
              <span><%= fa_icon "youtube-play 3x", class: "text-center play" %></span>
              <%end%>

            </div>
          </div>
            <div class="b-bottom">
              <h5 class="top">SubStory: <%= raw(@video.description) %></h5>
              <br>
              <p class="sub"><%= raw(@video.story) %>.</p>
            </div>


        </div>
      </div>
      <br>

      <br>


      <div class="soci">
        <ul>
          <%= link_to like_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-up", class: "btn btn-default btn-sm" %>(<%= @video.get_upvotes.size %>)</li><% end %>
          <%= link_to dislike_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-down", class: "btn btn-default btn-sm" %> (<%=@video.get_downvotes.size %>)</li><% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
<script src="https://www.google.com/jsapi"></script>
<script src="https://www.youtube.com/iframe_api"></script>
