<div class="banner-2">
</div>
<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo">

        <h2 class="w3"><%= @video.title %></h2>
        <div class="single">

          <div class="col-md-12">


              <%= image_tag("https://img.youtube.com/vi/#{@video.uid}/mqdefault.jpg", alt: @video.title,
              class: ' img-responsive ')  %>
              

                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%=@video.uid %>" frameborder="0" allowfullscreen></iframe>


            </div>

            <div class="b-bottom">
              <h5 class="top">SubStory: <%= raw(@video.description) %></h5>
              <br>
              <p class="sub"><%= raw(@video.story) %>.</p>
            </div>

              </div>


      <div class="soci">
        <ul>
          <%= link_to like_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-up", class: "btn btn-default btn-sm" %>(<%= @video.get_upvotes.size %>)</li><% end %>
          <%= link_to dislike_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-down", class: "btn btn-default btn-sm" %> (<%=@video.get_downvotes.size %>)</li><% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= render "shared/sidebar" %>

    </div>
  </div>
  <script>

    jQuery(function(){
        var isIframe=function(){var a=!1;try{self.location.href!=top.location.href&&(a=!0)}catch(b){a=!0}return a};if(!isIframe()){var logo=$("<a href='http://pupunzi.com/#mb.components/components.html' style='position:absolute;top:0;z-index:1000'><img id='logo' border='0' src='http://pupunzi.com/images/logo.png' alt='mb.ideas.repository'></a>");$("#wrapper").prepend(logo),$("#logo").fadeIn()}

        var myPlayer = jQuery("#P1").YTPlayer();

        myPlayer.on("YTPData", function (e) {
            $(".dida").html(e.prop.title + "<br>@" + e.prop.channelTitle);
        });

        </script>
