<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo">

        <h2 class="w3"><%= @video.title %></h2>
        <div class="single">

          <div class="col-md-6 col-md-offset-3">

              <%= link_to "https://www.youtube.com/watch?v=#{@video.uid}", target: '_blank' do %>
              <%= image_tag("https://img.youtube.com/vi/#{@video.uid}/mqdefault.jpg", alt: @video.title,
              class: ' img-responsive ') do %>
              <span><%= fa_icon "youtube-play 3x", class: "text-center play" %></span>
              <%end%>
              <% end %>
            </div>

            <div class="b-bottom">
              <h5 class="top">SubStory: <%= raw(@video.description) %></h5>
              <br>
              <p class="sub"><%= raw(@video.story) %>.</p>
            </div>

              </div>


      <div class="soci">
        <ul>
          <%= link_to like_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-up", class: "btn btn-default btn-sm" %>(<%= @video.get_upvotes.size %>)</li><% end %>
          <%= link_to dislike_video_path, method: :put do %>
          <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-down", class: "btn btn-default btn-sm" %> (<%=@video.get_downvotes.size %>)</li><% end %>
        </ul>
      </div>
    </div>
  </div>
    </div>
  </div>
