
<% @events.each do |event| %>

 <div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">

    <div class="tch-img">
      <%= image_tag event.thumbnail.url(:medium), class: "img-responsive" %>
    </div>

    <h3><%= link_to event.title, event %></h3>
    <h6>Posted at <%= event.created_at.strftime("%b, %d, %y") %></h6>
      <p><%= raw(event.shortDescription)%>.</p>
      <P> Project Location: <%= event.location %></P>
      <p> Will be aired at <%= event.eventDate %></p>

      <div class="bht1">
        <%= link_to "Continue Reading", event %>
      </div>

      <div class="soci">
        <ul>
          <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
          <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
          <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
          <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
          <li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
  <% end %>
