<% @musics.each do |music| %>
<div class="wthree">
   <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="tch-img-small">
      <%= image_tag music.albumimage.url(:medium), class: "img-responsive" %>
      </div>
   </div>
   <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
      <h3><%= link_to music.songname, music %></h3>
      <h6>Posted at <%= music.created_at.strftime("%b, %d, %y") %></h6>
        <p><%= raw(music.description) %></p>
        <p>By <%= music.artist %> </p>
        <div class="bht1">
          <%= link_to music do %>
            <%= fa_icon "play-circle-o" %> Play Single
            <% end %>
        </div>
        <div class="soci">
          <ul>

            <li class="hvr-rectangle-out"><a class="fb" href="https://www.facebook.com/pourapkreyol/"></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>

   </div>
    <div class="clearfix"></div>
</div>

<% end %>
