<%= render "shared/banner" %>

<div class="container">
  <div class="grid_3 grid_5">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">MUSIC</a></li>
        <li role="presentation" class=""><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">VIDEOS</a></li>
        <li role="presentation" class=""><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">PROJECTS</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="expeditions" aria-labelledby="expeditions-tab">

          <div class="col-md-4 col-sm-5 tab-image">
            <%= image_tag "m4.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
            <%= image_tag "m1.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "m2.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="clearfix"></div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "m2.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "m5.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "m3.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="trekking" aria-labelledby="trekking-tab">

          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "f4.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "f1.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="col-md-4 col-sm-5 tab-image">
              <%= image_tag "g3.jpg", class: "img-responsive b-pourap", alt: "Wanderer" %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
