<%= render "shared/banner" %>
<div class="services w3l wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
<div class="container">
  <div class="grid_3 grid_5">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">MUSIC</a></li>
        <li role="presentation" class=""><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">VIDEOS</a></li>
        <li role="presentation" class=""><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">PROJECTS</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="expeditions" aria-labelledby="expeditions-tab">
          <% @musics.take(3).each do |music| %>
          <div class="col-md-4 col-sm-5 tab-image">
            <%= link_to music do %>
            <%= image_tag music.albumimage.url(:medium), class: "img-responsive b-pourap", alt: "Wanderer" %>
            <% end %>
          </div>
          <%end %>
          <div class="clearfix"></div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
          <% @videos.take(3).each do |video| %>
          <div class="col-md-4 col-sm-5 tab-image">
            <%= link_to "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' do %>
            <%= image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
            class: ' img-responsive b-pourap ') %>
              <span class"play"><%= fa_icon "youtube-play 2x", class: "play" %></span>
              <%end%>
            </div>
            <% end %>
          <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane fade active in" id="trekking" aria-labelledby="trekking-tab">
          <% @events.take(3).each do |event|%>
          <div class="col-md-4 col-sm-5 tab-image">
            <%= link_to event do %>
              <%= image_tag event.thumbnail.url(:medium), class: "img-responsive b-pourap", alt: "Wanderer" %>
              <% end %>
          </div>
          <% end %>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>




<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
		<div class="tech-no">
      <h3> Shout Out </h3>
        <%= render "shared/eventsforindex" %>
        <h3 > Latest Videos </h4>
          <%= render "shared/videoforindex" %>

          <h3 > Latest Singles </h3>
          <%= render "shared/musicindex" %>



      </div>
    </div>
    <!-- side bar -->
  </div>
</div>
