<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
      <%= f.input :thumbnail, as: :file, paceholder: "Add display picture" %>
    </div>

<div class="form-group">
    <%= f.input :title, class: "form-control", placeholder: "Events Title" %>
  </div>
  <div class="form-group">
    <%= f.input :shortDescription, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  </div>
  <div class="form-group">
    <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
    </div>
  <div class="form-group">
    <%= f.input :location, placeholder: "Event location", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :eventDate, placeholder: "Event Date", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :sponsors, placeholder: "Event Sponsorhip", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
  </div>
  <div class="form-group">
    <%= f.input :socialLink, placeholder: "http//:" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
