<div class="banner-3">
</div>
<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
			<div class="agileinfo">

		  <h2 class="w3"><%= @event.title %></h2>
			<div class="single">
        <%= image_tag @event.thumbnail.url, class: "img-responsive " %>

			    <div class="b-bottom">
			      <h5 class="top"> Topic: <%= raw(@event.shortDescription) %>
              </h5>
				   <p class="sub">Event Story: <%= raw(@event.description) %>.</p>
           <p class="sub">Event Location: <%= @event.location %> </p>
           <p class="sub"> Date: <%= @event.eventDate %> </p>
           <p class="sub"> Sponsors: <%= raw(@event.sponsors) %> </p>
           <p class="sub"> Social handler @<%= @event.socialLink %> </p?


				</div>
			 </div>
			 <%= render @event.eventscomments %>
			 <%= render 'eventscomments/form' %>

     </div>
   </div>
	 <%= render "shared/sidebar" %>

 </div>
 </div>
