<p id="notice"><%= notice %></p>

<%= image_tag @event.thumbnail.url(:medium), class: "img-responsive img-circle" %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= raw(@event.shortDescription) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.eventDate %>
</p>

<p>
  <strong>Sponsors:</strong>
  <%= @event.sponsors %>
</p>

<p>
  <strong>Sociallink:</strong>
  <%= @event.socialLink %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
