<%= simple_form_for(@about, url: abouts_path, html: { class: 'form-horizontal' }) do |f| %>
  <% if about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about.errors.count, "error") %> prohibited this about from being saved:</h2>

      <ul>
      <% about.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.input :bio, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }, label: "About Us " %>

  </div>



  <div class="form-group">
      <%= f.input :thumbnail, as: :file, paceholder: "Add display picture" %>
    </div>
  <div class="form-group">
    <%= f.submit :submit, class: "btn btn-success"%>
  </div>
<% end %>
