
<div class="banner-1">

</div>

	<!-- technology-left -->
	<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
		<div class="w3agile-1">
			<div class="welcome">
				<div class="welcome-top heading">
					<h2 class="w3">WELCOME</h2>
					<div class="welcome-bottom">
						<%=image_tag 't4.jpg', class: "img-responsive" %>
						<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam. Nullam non magna lobortis, faucibus erat eu, consequat justo. Suspendisse commodo nibh odio, vel elementum nulla luctus sit amet.</p>
						<p>Nulla in tempor lectus. Etiam ac mauris lacinia nulla ultricies porta sit amet eleifend ligula. Quisque tincidunt vitae turpis at efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis, magna a sagittis dapibus, ipsum metus interdum lectus, quis feugiat leo ipsum nec diam.</p>
					</div>
				</div>
			</div>
			<div class="team">
				<h3 class="team-heading">Meet our team</h3>
				<div class="team-grids">
          <% @abouts.each do |about| %>
					<div class="col-md-6 team-grid">
						<div class="team-grid1">
							<img src="images/2.jpg" alt=" " class="img-responsive">
							<div class="p-mask">
								<p><%= about.contact %></p>
							</div>
						</div>
						<h5><%= about.naame %><span>Blogger</span></h5>

						<ul class="social">
							<li><a class="social-facebook" href="#">
								<i></i>
								<div class="tooltip"><span>Facebook</span></div>
								</a></li>
							<li><a class="social-twitter" href="#">
								<i></i>
								<div class="tooltip"><span>Twitter</span></div>
								</a></li>
							<li><a class="social-google" href="#">
								<i></i>
								<div class="tooltip"><span>Google+</span></div>
								</a></li>
						</ul>
					</div>
          <div class="text-center">
            <%= link_to 'Edit', edit_about_path(about), class: "btn btn1" %> |
            <%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn1" %>
          </div>
          <% end %>


					<div class="clearfix"> </div>
				</div>
			</div>
			</div>
		</div>

    <%= render 'shared/sidebar' %>
</div>
</div>

<%= link_to 'New About', new_about_path %>
