<div class="banner-1">
  <div class="container">
    <div class="col-md-12">
      <div class="wrapper top">
      <%= form_tag search_musics_path, method: :get, role: "search" do  %>
        <%=text_field_tag :search, params[:search], class: "search1", placeholder: "Search" %>
        <%=submit_tag "", name:nil, label: false,  class: "submit1" do %>
        <%= fa_icon "search", class: "submit1" %>
        <% end %>
        <% end %>
      </div>
      </div>
  </div>
</div>
<div class="technology">
<div class="container">
  <div class="col-md-9 technology-left">
    <div class="music">
      <div class="latest">
          <h2 class="w3">MUSIC</h2>
          <% @musics.each do |music| %>
          <div class="tip-grids">
            <div class="col-md-6 tip-grid">
                <%= link_to music do %>
              <figure class="effect-julia">
                <%= image_tag music.albumimage.url, class: "img-responsive" %>
              </figure>
              <% end %>
            </div>
            <div class="col-md-6 tip-grid-right">
              <div class="tip-gd-left">
                  <h4><%= music.songname %></h4>
                <p><%= raw(music.subtitle) %></p>
              </div>
            </div>
            <div class="bht1">
              <%= link_to "View Single ", music %>
            </div>
            <div class="soci">
              <ul>

                <%= link_to like_music_path(music), method: :put do %>
                <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-up", class: " btn-sm" %>(<%= music.get_upvotes.size %>)</li><% end %>
                <%= link_to dislike_music_path(music), method: :put do %>
                <li class="hvr-rectangle-out"><%= fa_icon "thumbs-o-down", class: " btn-sm" %>(<%=music.get_downvotes.size %>)</li><% end %>
                <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
                <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
                <% if blogger_signed_in? %>
                <li class="hvr-rectangle-out" >
                <%= link_to music_path(music), method: :delete, remote: true,  data: { confirm: 'Are you sure?' } do  %>
                <%= fa_icon "trash-o", class: "btn-sm" %>
                  <% end %>
              </li>
                <% end %>

              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/sidebar" %>
</div>
</div>
