<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="agileinfo">

        <h2 class="w3"><%= @music.songname %></h2>
        <div class="single">
          <%= image_tag @music.albumimage.url(:medium) %>
          <div class="b-bottom">
            <h5 class="top"><%= raw(@music.subtitle) %></h5>
            <p class="sub"><%= raw(@music.description) %>.</p>
          <p class"sub" ><%= raw(@music.discography) %> </p>
          <p class="sub"> <%= @music.published %> </p>
        </div>
      </div>

      <div class="col-md-8">

				<div id="jquery_jplayer_1" class="jp-jplayer"></div>

				<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
					<div class="jp-interface">
						<div class="jp-button jp-playpause-button">
							<button class="jp-play" role="button" tabindex="0">play</button>
						</div>
						<div class="jp-time-rail">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
						</div>
						<div class="jp-button jp-volume-button">
							<button class="jp-mute" role="button" tabindex="0">max volume</button>
						</div>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
					<div class="jp-playlist">
						<ul>
							<li>&nbsp;</li>
						</ul>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div><!-- .jp-audio -->

			</div><!-- .demo-player -->
</div>
</div>

      <script type="text/javascript">
      //<![CDATA[
      $(document).ready(function(){

        $("#jquery_jplayer_1").jPlayer({
          ready: function (event) {
            $(this).jPlayer("setMedia", {
              title: "<%= @music.songname %>",
              mp3: "<%= @music.song.url %>",
              m4a: "<%= @music.song.url %>",
              oga: "<%= @music.song.url %>"

            });
          },
          swfPath: "/js",
          supplied: "m4a, mp3",
          wmode: "window",
          useStateClassSkin: true,
          autoBlur: false,
          smoothPlayBar: true,
          keyEnabled: true,
          remainingDuration: true,
          toggleDuration: true
        });
      });
      //]]>
      </script>
