<!DOCTYPE html>
<html>
  <head>
    <title>Pourap</title>
      <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi' %>
    <%= javascript_include_tag 'https://www.youtube.com/iframe_api' %>

    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <script>
   new WOW().init();
  </script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% @homes.each do |home| %>
          <div class="col-md-4">
            <%= image_tag @about.thumbnail.url(:medium), class: "img-responsive img-circle" %>
          </div>

          <div class="col-md-8">
            <h4 class="qoute">
              <%=raw(home.picture_name) %>
            </h4>
          </div>
          <% end %>

        </div>
      </div>
    </div>

    <%= yield %>
    <br>
    <br>
    <br>
    <%= render "shared/footer" %>
  </body>
</html>
